html{
	height: 100%;
}
body{
	background-color: #f7f7f7;
	height: 100%;
  font-family: 'Roboto',sans-serif;
}
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0px;
    margin: 0px;
    border: 0px;
}
.navbar-brand {
}
.jumbotron{
  text-align: center;
  margin-bottom: 0px;
  background: #2d3673;
  color: #fff;
  padding-bottom: 15px;
}
.jumbotron > p{
  font-size: 18px;
  font-weight: 300;
  color: #656565;
}
.jumbotron h2{
   font-weight: 300; 
}
.jumbotron h4{
   padding:  15px; 
   font-weight: 300; 
}
.component-title{
  font-weight: 400;

}
.component-title > span{
  font-size: 50%;
}
iframe{
	width: 100%;
	height: 100%;
}
.nav-pills > li{
  display: inline-block !important;
  float: inherit;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background: none;
  color: #a9a9a9;
}
.nav > li > a:hover, .nav > li > a:focus{
  text-decoration: underline;
  background: none;
}
.nav-pills > li > a{
  font-weight: 300;
  padding: 10px 10px;
}
.datepicker-container{
  padding: 0px 15px;
}
@media (min-width: 768px){
    .component-title{ 
      margin-top: 45px;
    }
    .nav-pills > li > a{
      padding: 10px 15px;
    }
    .datepicker-container {
        padding: 80px 15px;
    }
    .bt-group{
          padding: 35px 0px;
    }
}
.bt-group .btn{
  background: -webkit-linear-gradient(#42a1ec, #0070c9);
  background: -o-linear-gradient(#42a1ec, #0070c9);
  background: linear-gradient(#42a1ec, #0070c9);
  border: none;
}
.ad-section{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.architecture figure, .flowchart figure{
    text-align: center;
}
.architecture img, .flowchart img{
    margin: 0px auto;
}
.flowchart figure img{
    width: 40%;
}
.page-header{
    text-align: center;
    margin: 60px 0 20px;
}
.documentation-container{
    padding-top: 50px;
}
.documentation-container .page-header{
    text-align: left;
}
.left-section{
    padding-left: 0px;
}
.left-section .bs-docs-sidebar{
    background: #fff;
    margin-top: 15px;
}
.right-section{
    background: #fff;
    margin-top: 15px;
    padding: 25px;
    padding-top: 0px;
}
.right-section .row{
    margin: 0px;
}
footer{
    text-align: center;
}
.navbar-brand img{
    float: left;
    width: 26px;
    margin-top: -3px;
    margin-right: 5px;
}